<p id="notice"><%= notice %></p>
<%= form_tag do %>
  <% @questions.each do |question| %>
<p>
  <strong>Body:</strong>
  <%= question.body %>
</p>
  <select>
  <% question.answers.each do |answer| %>
  <option value="<%= answer.value %>"> <%= answer.text %> </option>
  <% end %>
  </select>
  <% end %>
  <%= submit_tag %>
<% end %>
